.avatar {
  height: 1.8rem;
  width: 1.8rem;
  background-color: cadetblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  color: $off-white;
}

.questions {
  .question {
    padding: 1.5rem 1rem;
    border-bottom: 0.15rem solid #ededed;

    &:last-child {
      border-bottom: 0;
    }

    .question-header {
      .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .user {
          display: flex;
          align-items: center;
          column-gap: 0.25rem;
          font-size: 0.98rem;

          span {
            font-weight: 500;
            font-family: $font-poppins;
            color: $secondary-color;
          }
        }

        .user-actions {
          .ellipsis {
            position: relative;

            .icon {
              cursor: pointer;
            }

            .ellipsis-content {
              position: absolute;
              top: 120%;
              right: 0;
              width: 100px;
              background-color: #fff;
              z-index: 3;
              box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.1);
              transform: scale(0);
              transform-origin: top right;
              transition: all 0.3s ease-in;

              &.active {
                transform: scale(1);
              }

              p {
                padding: 0.5rem;
                font-size: 0.9rem;
                cursor: pointer;
                transition: all 0.2s ease;
                display: flex;
                align-items: center;
                column-gap: 0.25rem;

                .icon {
                  width: 1.2rem;
                  color: #444;
                }

                &:not(:last-child) {
                  border-bottom: 1px solid #f2f2f2;
                }

                &:hover {
                  background-color: #f2f2f2;
                }
              }

              p {
                padding: 0.5rem;
                font-size: 0.9rem;
                cursor: pointer;
                transition: all 0.2s ease;
                display: flex;
                align-items: center;
                column-gap: 0.3rem;

                .icon {
                  width: 1.2rem;
                  color: #444;
                }

                &:not(:last-child) {
                  border-bottom: 1px solid #f2f2f2;
                }

                &:hover {
                  background-color: #f2f2f2;
                }
              }
            }
          }
        }
      }

      .category {
        display: inline-block;
        margin: 0.4rem 0 0.6rem;
        font-size: 0.85rem;

        a {
          color: $primary-color;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .question-body {
      .title {
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: 500;
      }

      a:hover {
        text-decoration: underline;
      }

      .body {
        color: #333;
        font-size: 0.95rem;
        margin-bottom: 0.5rem;
      }

      .time {
        display: inline-block;
        margin-bottom: 1rem;
        font-size: 0.85rem;
        color: #555;
      }
    }

    .question-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #f5f5f5;
      padding: 1rem;
      border-radius: 0.2rem;

      .question-info {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;

        .action {
          display: flex;
          align-items: center;
          column-gap: 0.25rem;

          .icon {
            width: 1.3rem;
          }

          .like-icon {
            cursor: pointer;
          }

          span {
            font-size: 0.95rem;
          }
        }
      }

      .answer {
        font-size: 0.95rem;
        padding: 0.4rem 0.7rem;
        border-radius: 0.1rem;
        border: 1px solid #cacaca;
      }
    }
  }
}

.hot-questions {
  h2 {
    font-size: 1.05rem;
    font-weight: 500;
    margin: 1.5rem 0 1rem;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;

    .icon {
      color: firebrick;
    }
  }

  .question-list {
    background-color: #fff;
    border-radius: 0.2rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    .question {
      border-bottom: 0.15rem solid #ededed;

      .question-header {
        display: flex;
        align-items: center;
        column-gap: 0.3rem;
        margin: 0;
        padding: 1rem;
        padding-bottom: 0;

        span {
          font-size: 0.97rem;
          font-weight: 500;
          font-family: $font-poppins;
          color: $secondary-color;
        }
      }

      .question-body {
        padding: 0.5rem 1rem;

        a {
          font-size: 0.95rem;
          margin: 0.5rem 0;
          font-weight: 500;
          color: lighten($color: $primary-color, $amount: 10);

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .question-footer {
        display: flex;
        align-items: center;
        column-gap: 0.25rem;
        padding: 0.5rem 1rem;
        padding-bottom: 1rem;
        color: #777;

        .icon {
          width: 1.2rem;
        }

        a {
          font-size: 0.9rem;
          color: #777;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.top-members {
  h2 {
    font-size: 1.05rem;
    font-weight: 500;
    margin: 2.5rem 0 1rem;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;

    .icon {
      color: firebrick;
    }
  }

  .user-list {
    background-color: #fff;
    border-radius: 0.2rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    .user {
      padding: 1rem;
      border-bottom: 0.15rem solid #ededed;

      .flex-between {
        .name {
          font-size: 0.97rem;
          font-weight: 500;
          color: $secondary-color;
          font-family: $font-poppins;
        }
      }

      .questions {
        display: flex;
        align-items: center;
        column-gap: 0.25rem;
        margin-top: 0.25rem;
        color: #777;

        .icon {
          width: 1.3rem;
          color: #777;
        }

        span {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.profile-question {
  margin-bottom: 0.8rem;
  padding: 1rem;
  background-color: #eee;
  border-radius: 0.3rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  .header {
    a {
      font-size: 1.05rem;
      display: block;
      margin-bottom: 0.5rem;
      color: $primary-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .body {
    .category {
      font-size: 0.85rem;

      a {
        color: $secondary-color;
      }
    }

    .time {
      display: block;
      margin-top: 0.3rem;
      font-size: 0.8rem;
      color: #555;
    }

    .text {
      margin: 0.3rem 0;
      font-size: 0.96rem;
      color: #333;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.7rem;
    background-color: #f3f3f3;
    padding: 0.75rem;
    border-radius: 0.25rem;

    .icon {
      width: 1.3rem;
      cursor: pointer;
    }

    p {
      display: flex;
      align-items: center;
      column-gap: 0.25rem;

      a {
        font-size: 0.9rem;
      }
    }

    .icons {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;

      .edit {
        color: $primary-color;
      }

      .delete {
        color: crimson;
      }
    }
  }
}

.answer {
  border: 0.125rem solid #eee;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: #fcfcfc;

  .answer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.7rem;

    .user {
      display: flex;
      align-items: center;
      column-gap: 0.25rem;
      font-size: 0.96rem;
      font-weight: 500;

      span {
        color: $secondary-color;
        font-family: $font-poppins;
      }
    }

    .edit {
      display: flex;
      align-items: center;
      column-gap: 0.75rem;
      position: relative;

      .user-actions {
        position: absolute;
        top: 120%;
        right: 0;
        z-index: 3;
        background-color: #fff;
        border-radius: 0.2rem;
        box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
        width: 100px;
        transition: all 0.3s ease;
        transform-origin: top right;
        transform: scale(0);

        &.active {
          transform: scale(1);
        }

        p {
          padding: 0.6rem;
          font-size: 0.95rem;
          cursor: pointer;
          transition: all 0.2s ease;
          display: flex;
          align-items: center;
          column-gap: 0.3rem;

          .icon {
            width: 1.2rem;
            color: #444;
          }

          &:not(:last-child) {
            border-bottom: 1px solid #f2f2f2;
          }

          &:hover {
            background-color: #f2f2f2;
          }
        }
      }

      span {
        font-weight: 0.93rem;
        color: #333;
      }

      .icon {
        cursor: pointer;
        color: #333;
      }
    }
  }

  .answer-body {
    margin: 0.7rem 0;

    p {
      font-size: 0.97rem;
      color: #222;
    }

    span {
      display: inline-block;
      margin-top: 0.4rem;
      font-size: 0.8rem;
      color: #555;
    }
  }

  .answer-footer {
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    column-gap: 0.3rem;

    div {
      .icon {
        width: 1.5rem;
        cursor: pointer;
      }
    }
  }
}

.modal {
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  .modal-content {
    background-color: #fff;
    width: 90%;
    max-width: 500px;
    margin: auto;
    padding: 1rem;
    border-radius: 0.6rem;
    overflow-y: scroll;
    pointer-events: all;

    .close {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 0;

      .icon {
        width: 2rem;
        color: crimson;
        cursor: pointer;
      }
    }

    .error {
      text-align: center;
      margin: 0.25rem 0;
      font-size: 0.95rem;
      color: crimson;
      padding: 0.4rem;
      border: 1.5px solid crimson;
      border-radius: 0.15rem;
      background-color: lighten($color: crimson, $amount: 50);
    }

    .main-title {
      margin-bottom: 1rem;
      font-weight: bold;
      font-size: 1.1rem;
    }

    &.users {
      .title {
        font-family: $font-poppins;
        margin-bottom: 0.5rem;
      }

      .follows {
        overflow-y: scroll;
        max-height: 70vh;

        .user {
          padding: 0.8rem;
          border: 1.5px solid #ddd;
          border-radius: 0.2rem;

          &:not(:last-child) {
            margin-bottom: 0.5rem;
          }

          .flex {
            display: flex;
            align-items: center;
            column-gap: 0.25rem;

            .name {
              color: $secondary-color;
            }
          }

          .question-count {
            font-size: 0.95rem;
            margin-top: 0.6rem;
          }
        }
      }
    }
  }
}

.no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 2rem auto;
  border-radius: 0.3rem;

  &.no-answers {
    background-color: #fff;
  }

  p {
    font-size: 1.1rem;
    color: #444;
  }
}

.load-data {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;

  &.questions-load {
    background-color: #fff;
  }

  &.answers-load {
    background-color: #fff;
    margin: 1.5rem 0;
  }
}

.related-questions {
  .heading {
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    margin: auto 0 1rem;

    h2 {
      font-size: 1.05rem;
      font-weight: 500;
    }

    .icon {
      color: firebrick;
    }
  }

  .related {
    background-color: #fff;
    border-radius: 0.2rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    .related-question {
      padding: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #efefef;

      &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
      }

      a {
        display: block;
      }

      .name {
        font-weight: 500;
        color: $secondary-color;
        margin-bottom: 0.3rem;
        font-family: $font-poppins;
      }

      .title {
        margin-bottom: 0.25rem;
        color: $primary-color;
      }

      .body {
        color: #444;
        font-size: 0.93rem;
      }
    }
  }
}

footer {
  padding: 1.5rem 0;
  background-color: #444;

  .main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    padding-bottom: 0.75rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }

    .title {
      a {
        font-size: 2rem;
        color: #eaeaea;
        font-family: $font-poppins;
        font-weight: bold;

        span {
          color: $primary-color;
        }
      }

      p {
        font-size: 0.95rem;
        color: #fefefe;
        font-style: italic;
        margin-top: 0.5rem;
      }
    }

    .footer-categories {
      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: #fefefe;
        margin-bottom: 0.7rem;
        font-family: $font-poppins;
      }

      ul {
        list-style-type: none;

        li {
          margin-bottom: 0.25rem;

          @media (max-width: 768px) {
            padding: 1rem 0;
            border-bottom: 1px solid darken($color: #aaa, $amount: 15);
          }

          a {
            color: #eaeaea;
            text-transform: capitalize;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }

    .contact {
      .socials {
        display: flex;
        align-items: center;
        margin-bottom: 0.8rem;
        column-gap: 0.25rem;

        .icon {
          width: 3rem;
        }
      }

      p {
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
        column-gap: 0.3rem;
        font-family: $font-poppins;

        span {
          color: #eaeaea;
        }
        .icon {
          width: 2rem;
          fill: #fff;
          color: #444;
        }

        a {
          color: #eaeaea;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }

  .copyright {
    text-align: center;
    margin: auto;
    border-top: 1px solid #aaa;
    padding: 1.5rem 0;

    p {
      color: #ddd;
      font-size: 0.9rem;

      a {
        color: #ddd;
        text-decoration: underline;
      }
    }
  }
}

.spinner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
