.avatar {
  height: 1.8rem;
  width: 1.8rem;
  background-color: cadetblue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  color: $off-white;
}

.questions {
  .question {
    padding: 1.5rem 1rem;
    border-bottom: 0.15rem solid #ededed;

    .question-header {
      .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .user {
          display: flex;
          align-items: center;
          column-gap: 0.25rem;

          span {
            font-weight: 450;
            color: $secondary-color;
          }
        }

        .user-actions {
          button {
            font-size: 0.95rem;
            padding: 0.4rem 0.8rem;
            color: #fefefe;
            background-color: #111;
            border-radius: 0.2rem;
            border: 1px solid transparent;

            &:hover {
              background-color: transparent;
              color: #111;
              border-color: #111;
            }
          }
        }
      }

      .category {
        display: inline-block;
        margin: 0.4rem 0 0.6rem;
        font-size: 0.85rem;

        a {
          color: $primary-color;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .question-body {
      .title {
        margin-bottom: 0.5rem;
        font-size: 1.15rem;
        font-weight: 500;
      }

      .body {
        color: #222;
        font-size: 0.96rem;
        margin-bottom: 0.5rem;
      }

      .time {
        display: inline-block;
        margin-bottom: 1rem;
        font-size: 0.85rem;
        color: #555;
      }
    }

    .question-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #f5f5f5;
      padding: 1rem;
      border-radius: 0.2rem;

      .question-info {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;

        .action {
          display: flex;
          align-items: center;
          column-gap: 0.25rem;

          .icon {
            width: 1.3rem;
          }

          .like-icon {
            cursor: pointer;
          }

          span {
            font-size: 0.95rem;
          }
        }
      }

      .answer {
        font-size: 0.95rem;
        padding: 0.4rem 0.7rem;
        border-radius: 0.1rem;
        border: 1px solid #cacaca;
      }
    }
  }
}

.hot-questions {
  h2 {
    font-size: 1.05rem;
    font-weight: 500;
    margin: 1.5rem 0 1rem;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;

    .icon {
      color: firebrick;
    }
  }

  .question-list {
    background-color: #fff;
    border-radius: 0.2rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    .question {
      padding: 1rem;
      border-bottom: 0.15rem solid #ededed;

      .question-header {
        display: flex;
        align-items: center;
        column-gap: 0.3rem;
        margin: 0;

        span {
          font-size: 0.97rem;
          color: $secondary-color;
        }
      }

      .question-body {
        a {
          font-size: 1.05rem;
          margin: 0.5rem 0 0.7rem;
          font-weight: 600;
        }
      }

      .question-footer {
        display: flex;
        align-items: center;
        column-gap: 0.25rem;

        .icon {
          width: 1.3rem;
          color: $primary-color;
        }

        span {
          font-size: 0.95rem;
        }
      }
    }
  }
}

.top-members {
  h2 {
    font-size: 1.05rem;
    font-weight: 500;
    margin: 2.5rem 0 1rem;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;

    .icon {
      color: firebrick;
    }
  }

  .user-list {
    background-color: #fff;
    border-radius: 0.2rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

    .user {
      padding: 1rem;
      border-bottom: 0.15rem solid #ededed;
      display: grid;
      grid-template-columns: 1fr 5fr;

      .flex-between {
        .name {
          font-size: 0.97rem;
          color: $secondary-color;
        }

        button {
          font-size: 0.92rem;
          padding: 0.3rem 0.6rem;
          color: #fefefe;
          background-color: #111;
          border-radius: 0.2rem;
          border: 1px solid transparent;

          &:hover {
            background-color: transparent;
            color: #111;
            border-color: #111;
          }
        }
      }

      .questions {
        display: flex;
        align-items: center;
        column-gap: 0.25rem;
        margin-top: 0.3rem;

        .icon {
          width: 1.3rem;
          color: $primary-color;
        }

        span {
          font-size: 0.95rem;
        }
      }
    }
  }
}

footer {
  padding: 1.5rem 0;
  background-color: #2a2b2c;

  .container {
    color: #fefefe;

    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 768px) {
        flex-direction: column;
        row-gap: 0.6rem;
      }

      .logo {
        flex: 1;

        h1 {
          font-size: 1.5rem;
          font-weight: 700;
          color: #fefefe;

          span {
            color: $primary-color;
          }
        }
      }

      .socials {
        display: flex;
        align-items: center;
        column-gap: 0.4rem;
      }
    }

    .copyright {
      text-align: center;
      margin-top: 1rem;
      font-weight: 400;
      font-size: 0.95rem;
    }
  }
}

.profile-question {
  margin-bottom: 0.8rem;
  padding: 1rem;
  background-color: #fcfcfc;
  border-radius: 0.3rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  .header {
    a {
      font-size: 1.05rem;
      display: block;
      margin-bottom: 0.5rem;
      color: $primary-color;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .body {
    .category {
      font-size: 0.85rem;

      a {
        color: $secondary-color;
      }
    }

    .time {
      display: block;
      margin-top: 0.3rem;
      font-size: 0.8rem;
      color: #555;
    }
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.7rem;
    background-color: #f3f3f3;
    padding: 0.75rem;
    border-radius: 0.25rem;

    .icon {
      width: 1.3rem;
      cursor: pointer;
    }

    p {
      display: flex;
      align-items: center;
      column-gap: 0.25rem;

      span {
        font-size: 0.9rem;
      }
    }

    .icons {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;

      .edit {
        color: $primary-color;
      }

      .delete {
        color: crimson;
      }
    }
  }
}
