.question-page {
  .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem 0;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      row-gap: 2rem;
    }

    .left-col {
      @media (max-width: 768px) {
        padding-inline: 0.5rem;
      }
      h2 {
        font-size: 1.3rem;
        font-weight: 500;
        font-family: $font-poppins;
        margin-bottom: 1.5rem;
      }

      .main-question {
        border: 0.125rem solid #eee;
        background-color: #fcfcfc;
        padding: 1rem;
        border-radius: 0.4rem;

        .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 0.6rem;

          .user {
            display: flex;
            align-items: center;
            column-gap: 0.3rem;

            a {
              font-weight: 500;
              color: $secondary-color;
            }
          }

          
        }

        .category {
          margin-bottom: 0.5rem;
          font-size: 0.85rem;

          a {
            color: $primary-color;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .body {
          h3 {
            font-size: 1.15rem;
            font-weight: 500;
            margin-bottom: 0.4rem;
          }

          p {
            font-size: 0.97rem;
            color: #333;
            margin-bottom: 0.4rem;
          }

          span {
            font-size: 0.85rem;
            display: inline-block;
            margin-bottom: 0.8rem;
            color: #555;
          }
        }

        .footer {
          background-color: #f5f5f5;
          padding: 1rem;
          border-radius: 0.2rem;

          .actions {
            display: flex;
            align-items: center;
            column-gap: 0.7rem;

            div {
              display: flex;
              align-items: center;
              column-gap: 0.25rem;

              .icon {
                width: 1.3rem;
              }

              span {
                font-size: 0.97rem;
              }
            }
          }
        }
      }

      .answers-div {
        .answers-count {
          margin: 1rem 0;

          p {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            padding: 1rem;
            border-radius: 0.125rem;
            box-shadow: 0 1p 2px rgba(0, 0, 0, 0.1);

            div {
              font-size: 0.96rem;
              color: #555;
              span {
                font-weight: 600;
              }
            }

            button {
              &.answer-btn {
                font-size: 0.95rem;
                padding: 0.2rem 0.5rem;
                border-radius: 0.125rem;
                display: flex;
                align-items: center;
                column-gap: 0.25rem;
                color: #444;
                border: 1px solid #aaa;

                .icon {
                  width: 1.3rem;
                }
              }
            }
          }
        }
        .answer {
          margin: 1rem 0;
        }
      }
    }

    .right-col {
      .sidebar {
        padding-inline: 0.5rem;

        .hot-questions {
          h2 {
            margin-top: 0;
          }
        }
      }
    }
  }
}
