@import "./variables";
@import "./base";
@import "./components";
@import "./form";
@import "./header";
@import "./home";
@import "./profile";
@import "./construction";
@import "./questionpage";
@import "./categories";
@import "./logout";
@import "./errorPage.scss";

.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
