@import "./variables";
@import "./base";
@import "./components";
@import "./form";
@import "./header";
@import './home';
@import './profile';

.main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}